<div id="carouselExampleCaptions" class="carousel slide" 
  dinforide="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" 
      class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("carousel/banner3.jpg", class: "img-responsive d-block
        w-100") %>
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-success"><%= t(".label_1") %></h5>
        <p class="text-uppercase text-primary"><%= t(".label_2") %></p>
        <%= link_to t(".detail"), products_path, class: "btn btn-primary"  %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel/banner1.jpg", class: "img-responsive d-block 
        w-100") %>
      <div class="carousel-caption d-none d-md-block text-right">
        <h5 class="text-success"><%= t(".label_1") %></h5>
        <p class="text-uppercase text-primary"><%= t(".label_2") %></p>
        <%= link_to t(".detail"), products_path, class: "btn btn-primary"  %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel/banner2.jpg", class: "img-responsive d-block 
        w-100") %>
      <div class="carousel-caption d-none d-md-block text-left">w
        <h5 class="text-success"><%= t(".label_1") %></h5>
        <p class="text-uppercase text-primary"><%= t(".label_2") %></p>
        <%= link_to t(".detail"), products_path, class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" 
    role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" 
    role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
