<% provide :title, t(".about") %>
<div class="about container mt-2">
  <div class="jumbotron ">
    <h4 class="text-success text-left mb-4 text-center">
      <%= t(".about-us") %>
    </h4>
    <div class="row">
      <div class="col-md-6">
        <p class="mb-3 text-muted"><%= t(".paragraph_1") %></p>
        <hr style="color: #ff8000";>
        <p class="text-muted"><%= t(".paragraph_2") %></p>
      </div>
      <div class="col-md-6">
        <%= image_tag("chief.jpg", class: "img-fluid") %>
      </div>
      <div class="col-md-12">
        <p class="text-muted"><%= t(".paragraph_2") %></p>
      </div>
    </div>
  </div>
</div>

<div class="service">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-xs-12 commontop text-center">
        <h2 class="text-primary"><%= t(".our_services") %></h2>
        <p class="text-secondary"><%= t(".paragraph_3") %></p>
        <hr>
      </div>
      <div class="col-sm-4 col-xs-12 mt-4">
        <div class="box text-center">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img src="http://wptheme.co.in/restaurent_html/images/about/icon1.png"
                class="img-responsive" alt="icon" title="icon">
            </div>
          </div>
          <h5 class="text-info pt-3"><%= t(".Best_Chef") %></h5>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12 mt-4">
        <div class="box text-center">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img src="http://wptheme.co.in/restaurent_html/images/about/icon2.png"
                class="img-responsive" alt="icon" title="icon">
            </div>
          </div>
          <h5 class="text-info pt-3"><%= t(".tables") %></h5>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12 mt-4">
        <div class="box text-center">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img src="http://wptheme.co.in/restaurent_html/images/about/icon3.png"
                class="img-responsive" alt="icon" title="icon">
            </div>
          </div>
          <h5 class="text-info pt-3"><%= t(".Best_Vines") %></h5>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>
      

      <div class="col-sm-4 col-xs-12 mt-4">
        <div class="box text-center">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img src="http://wptheme.co.in/restaurent_html/images/about/icon4.png"
                class="img-responsive" alt="icon" title="icon">
            </div>
          </div>
          <h5 class="text-info pt-3"><%= t(".Special_Offers") %></h5>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>
     
      <div class="col-sm-4 col-xs-12 mt-4">
        <div class="box text-center">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img src="http://wptheme.co.in/restaurent_html/images/about/icon5.png"
                class="img-responsive" alt="icon" title="icon">
            </div>
          </div>
          <h5 class="text-info pt-3"><%= t(".Card_Payment") %></h5>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12 mt-4">
        <div class="box text-center">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img src="http://wptheme.co.in/restaurent_html/images/about/icon6.png"
                class="img-responsive" alt="icon" title="icon">
            </div>
          </div>
          <h5 class="text-info pt-3"><%= t(".Terrace") %></h5>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 video">
        <iframe width="1080" height="421" src="https://www.youtube.com/embed/7F-kyhqlMSA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row ">
    <div class="col-sm-12 col-xs-12 commontop text-center">
      <h4 class="text-info"><%= t(".Our_team") %></h4>
      <p class="text-muted"><%= t(".paragraph_3") %></p>
      <hr>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="box">
        <img src="http://wptheme.co.in/restaurent_html/images/about/1.jpg"
        class="img-responsive" alt="icon" title="icon">
        <div class="caption text-center">
          <h4>John Doe</h4>
          <ul class="list-inline social">
            <li><a href="https://www.facebook.com/" target="_blank"><i
              class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i
              class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
          </ul>
           <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="box">
        <img src="http://wptheme.co.in/restaurent_html/images/about/2.jpg"
        class="img-responsive" alt="icon" title="icon">
        <div class="caption text-center">
          <h4>John Doe</h4>
          <ul class="list-inline social">
            <li><a href="https://www.facebook.com/" target="_blank"><i
              class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i
              class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
          </ul>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="box">
        <img src="http://wptheme.co.in/restaurent_html/images/about/3.jpg"
        class="img-responsive" alt="icon" title="icon">
        <div class="caption text-center">
          <h4>John Doe</h4>
          <ul class="list-inline social">
            <li><a href="https://www.facebook.com/" target="_blank"><i
              class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i
              class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
          </ul>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="box">
        <img src="http://wptheme.co.in/restaurent_html/images/about/4.jpg"
        class="img-responsive" alt="icon" title="icon">
        <div class="caption text-center">
          <h4>John Doe</h4>
          <ul class="list-inline social">
            <li><a href="https://www.facebook.com/" target="_blank"><i
              class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i
              class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
          </ul>
          <p class="text-muted"><%= t(".chef") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
