<% provide :title, t(".home") %>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <%= render "carousel" %>
    </div> <!-- Het carousel -->
    <div class="col-md-4">
      <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4 mt-1">
          <%= link_to product do %>
            <%= image_tag product.picture.url, class: "img-fluid" %>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  </div> <!-- Het row 1 -->
</div> <!-- Het container carousel-->

<div class="about container mt-2"> 
  <div class="jumbotron ">
    <div class="row">
      <div class="col-sm-12">
         <h4 class="text-success text-center mb-4">
          <%= t(".about-us") %>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan.
        </p>
        <hr style="color: #ff8000";>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Nullam efficitur placerat nulla, in 
          suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Nullam efficitur placerat nulla, in 
          suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan. Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Nullam efficitur placerat nulla, in 
          suscipit erat sodales id.
        </p>
        <%= link_to t(".read-more"), about_path, class: "btn btn-info mt-3" %>
      </div>
      <div class="col-md-6">
        <%= image_tag("chief.jpg", class: "img-fluid") %>
      </div>
    </div>
  </div>
</div> <!-- het div about -->

<!-- Our menu -->
<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center"><%= t(".our-menu") %></h3>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis 
          nulla.
        </p>
        <hr style="background-color: yellow;">
      </div>
    </div>  <!-- Het row Our menu -->
    
    <div class="row">
      <div class="col-md-12">
        <div class="menu-item ">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <% @categories.each do |category| %>
                <% status = (category == Category.first) ? "active" : "" %>
                <a class="nav-item nav-link <%= status %>" id="nav-all-tab" 
                  data-toggle="tab" href="#nav-category-<%= category.id %>" role="tab" 
                  aria-controls="nav-all" aria-selected="true">
                  <%= category.name  %>
                </a>
              <% end %>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <% @categories.each do |category| %>
              <% status = (category == Category.first) ? "active" : "" %>
              <div class="tab-pane fade show <%= status %>" 
                id="nav-category-<%= category.id %>" role="tabpanel" 
                aria-labelledby="nav-all-tab">
                <div class="container">
                  <div class="row mt-2">
                    <% category.products.each do |product| %>
                      <div class="col-sm-4">
                        <div class="card">
                          <% picture_url = product&.picture&.url %>
                          <% picture_url =  picture_url.present? ? picture_url : "default_image_product.jpg" %>
                          <%= image_tag picture_url, class: "card-img-top" %>
                          <div class="card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                            <p class="card-text">
                              <%= product.description %>
                            </p>
                            <p><small class="text-success">Price:</small> $ <%= product.price %></p>
                            <%= link_to t(".order"), "#", class: "btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3 text-center">  <!-- VIEW MORE -->
      <div class="col-sm-12">
        <%= link_to t(".view-more"), products_path, class: "btn btn-outline-info" %> 
        <hr>
      </div>
    </div>  <!-- Het row View more -->
  </div>  <!-- Het container -->
</div>  <!-- Het div menu -->
  
<div class="reservation container mt-3">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-secondary text-center"><%= t(".reservation") %></h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis 
          nulla.
        </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 text-center">
        <%= link_to t(".take-away"), revervation_path, 
          class: "btn btn-outline-primary" %>
      </div>
      <div class="col-md-6 text-center">
        <%= link_to t(".reservation"), revervation_path, 
          class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</div>

<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="text-center"><%= t(".our-blog") %> </h5>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam 
          efficitur placerat nulla, in suscipit erat sodales id. Nullam 
          ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis 
          nulla.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("blog/1.jpg", class: "card-img-top") %>
          <div class="card-body">
            <p class="text-muted">Dec 05, 2019 / By admin/ 10 comments</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card 
              title and make up the bulk of the card's content.
            </p>
            <%= link_to t(".read-more"), "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("blog/1.jpg", class: "card-img-top") %>
          <div class="card-body">
            <p class="text-muted">Dec 05, 2019 / By admin/ 10 comments</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card 
              title and make up the bulk of the card's content.
            </p>
            <%= link_to t(".read-more"), "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag("blog/1.jpg", class: "card-img-top") %>
          <div class="card-body">
            <p class="text-muted">Dec 05, 2019 / By admin/ 10 comments</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card 
              title and make up the bulk of the card's content.
            </p>
            <%= link_to t(".read-more"), "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
