<table class="table table-bordered mt-2">
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="text-center"><%= t(".item_ordered") %></th>
    <th scope="col" class="text-center"><%= t(".quantity") %></th>
    <th scope="col" class="text-center"><%= t(".unit_price") %></th>
  </tr>
  <% @order_items.each_with_index do |order_item, i| %>
    <%=  form_for order_item, remote: true do |f| %>
    <tr>
      <td scope="row"><%= i + 1 %></td>
      <td class="text-center"><%= order_item.product.name %></td>
    
      <td class="text-center">
        <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "col-sm-3 product-quantity-input", min: 1 %>

        <%= f.hidden_field :product_id, value: order_item.product.id %>
        <%= f.submit "Update_Quantity", class: "fa fa-trash-alt" %>

        <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" },
           method: :delete, remote: true, class: "fa fa-trash-alt" } %>
      </td>
      <td class="text-center"><%= number_to_currency order_item.total_price %></td>
    </tr>
    <% end %>
  <% end %>
</table>
