<% if !@order_item.nil? && @order_item.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @order_items.size == 0 %>
  <h2 class="text-center mt-5 mb-5 text-info">
    <%= t(".message_01") %> <%= link_to t(".go_back"), products_path %> 
    <%= t(".message_02") %>
  </h2>
<% else %>
    <%= render "carts/cart_row", order_items: @order_items %>
<% end %>
