<%= provide :title,  "All Products" %>
<div class="container"> 
  <div class="row mt-2">
    <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="card">
          <% picture_url = product&.picture&.url %>
          <% picture_url =  picture_url.present? ? picture_url : "default_image_product.jpg" %>
          <%= image_tag picture_url, class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text">
              <%= product.description %>
            </p>
            <%= form_for @order_item, remote: true do |f| %>
              <h5 class="card-title"><%= product.name %></h5>
              <p><small class="text-success">Price:</small> $ <%= product.price %></p>
              <%= f.hidden_field :product_id %>
              <%= link_to t(".order"), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
