<%= provide :title,  t(".all_products") %>
<div class="container"> 
  <div class="row mt-2">
    <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="card">
          <% picture_url = product&.picture&.url %>
          <% picture_url =  picture_url.present? ? picture_url : "default_image_product.jpg" %>
          <%= image_tag picture_url, class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text">
              <%= product.description %>
            </p>
            <%= form_for @order_item, remote: true do |f| %>
              <p class="text-right">
                <span class="text-muted">Unit Price: </span> 
                <span class="text-success"><%= number_to_currency product.price %> </span>
              </p>
              <div class="input-group">
                <%= f.number_field :quantity, value: 1, class: "form-control col-sm-3 product-quantity-input", min: 1 %>
                <div class="input-group-btn col-sm-9">
                  <div class="row block">
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.submit t(".order"), class: "btn btn-primary float-right" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
