<footer class="mt-3" style="background-color: #e3f2fd; "> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="display-5 mt-3 ml-3">INFORMATION</h5>
          <ul class="list-unstyled ml-3">
            <li><%= link_to "About us", "#" %></li>
            <li><%= link_to "Delivery Information", "#" %></li>
            <li><%= link_to "Contact us", "#" %></li>
            <li><%= link_to "Terms & Condition", "#" %></li>
            <li><%= link_to "Sitemap", "#" %></li>
          </ul> 
      </div>
      <div class="col-md-4">
        <h5 class="display-5 mt-3">WORKING TIME</h5>
        <ul class="list-unstyled">
          <li>Monday - Friday: 06:00 - 23:00</li>
          <li>Saturday - Sunday: 24 Hour Open</li>
          <li>Breakfast: 06:00 - 10:00 </li>
          <li>Luch: 10:00 - 14:00</li>
          <li>Dinner: 17:00 - 23:00</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="display-5 mt-3">WORKING PLACE</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-map-marker">Awesome Academy, 
            Tầng 11 Handico Tower khu đô thị mới Mễ Trì Hạ, đường Phạm Hùng, 
            quận Nam Từ Liêm, Hà Nội</i>
          </li>
          <li><i class="fa fa-phone"> (024)3 2072 555</i></li>
          <li><i class="fa fa-envelope"> info@awesome-academy.com</i></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center my-2 border-top"> 
        <small class="text-muted">
          Copyright © Restaurant Food & Drinks 2019. All Rights Reserved.
        </small>
      </div>
    </div>
  </div>
</footer> 
