<hr>
<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"> <!-- cot thu nhat -->
        <div class="container"> <!-- container nho -->
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-7">
              <ul class="list-unstyled">
                <h4 class="text-info border-bottom">INFORMATION</h4>
                <li><%= link_to "About us", "#", class: "h6 text-muted"%></li>
                <li><%= link_to "Delivery Information", "#", class: "h6 text-muted"%></li>
                <li><%= link_to "Contact us", "#", class: "h6 text-muted" %></li>
                <li><%= link_to "Term & Conditions", "#", class: "h6 text-muted" %></li>
                <li><%= link_to "Sitemap", "#", class: "h6 text-muted" %></li>
              </ul>
            </div>
          </div>
        </div> <!-- Het container nho -->
      </div> <!-- Het cot thu nhat -->

      <div class="col-sm-4"> <!-- Cot thu 2 -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-">
              <ul class="list-unstyled">
                <h4 class="text-info border-bottom ">WORKING TIME</h4>
                <li class="h6 text-muted text-decoration-none">Monday - Friday:
                  <span class="h5 text-primary"> 6:00 AM to 23:30 PM</span>
                </li>
                <li class="h6 text-muted text-decoration-none">Saturday - Sunday
                  <span class="h5 text-primary">:  24 hour open</span>
                </li>
                <li class="h6 text-muted text-decoration-none">Breakfast: 
                  <span class="h5 text-primary">7:00 AM to 10:00 AM</span>
                </li>
                <li class="h6 text-muted text-decoration-none">Lunch: 
                  <span class="h5 text-primary">10:00 AM to 15:00 PM</span>
                </li>
                <li class="h6 text-muted text-decoration-none">Dinner: 
                  <span class="h5 text-primary">15:00 PM to 23:30 PM</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- Het cot thu 2 -->

      <div class="col-sm-4"> <!-- Cot thu 3 -->
        <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <ul class="list-unstyled">
                <h4 class="text-info border-bottom">WORKING PLACE</h4>
                <li class="fa fa-map-marker"> 
                  <%= link_to "Awesome Academy, Tầng 11 Handico Tower khu 
                    đô thị mới Mễ Trì Hạ, đường Phạm Hùng, quận Nam Từ Liêm,
                    Hà Nội", "#", class: "text-decoration-none" %>
                </li>
                <li class="fa fa-phone">
                  <%= link_to "0909 000 000" %>
                </li>
                <li class="fa fa-envelope"> 
                  <%= link_to " info@restaurant.com", "#", 
                   class: "text-decoration-none" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- Het cot thu 3 -->
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center pb-4">
        <hr class="pt-2">
        Copyright © <spam style="color:#FFA41F;">Restaurant Food & Drinks</spam> 2019. All Rights Reserved.
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div> <!-- Het container -->
</footer> <!-- Het footer -->
