<header class="navbar navbar-expand-lg navbar-light" 
  style="background-color: #837a65;">
  <div class="container">
    <%= link_to image_tag("logo.png", class: "navbar-brand"), root_path %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- Language -->
        <div class="dropdown">
          <button class="btn btn-outline-dark dropdown-toggle" type="button" 
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false"><%= t(".Languages") %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to t(".English"), locale:"en", class: "dropdown-item"%></li>
            <li><%= link_to t(".Vietnamese"), locale:"vi",  class: "dropdown-item" %></li>
          </div>
        </div>
        <!-- End language -->

        <li class="nav-item mr-2">
          <%= link_to t(".home"), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".about"), about_path, class: "nav-link" %> 
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".reservation"), "#", class: "nav-link" %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".menu"), "#", class: "nav-link" %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".blog"), "#", class: "nav-link" %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".contact"), "#", class: "nav-link" %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".cart"), "#", class: "nav-link btn btn-info fa fa-cart-plus" %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to t(".account"), "#", class: "nav-link btn btn-success fa fa-user" %>
        </li>
      </ul>
    </div>
  </div>
</header>

