<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title)%></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application",
    "data-turbolinks-track": "reload" %>
</head>
<body> 
  <%= render "admin/dashboard/header_dashboard" %>
  <div class="container jumbotron mt-2 fix-jum">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>

