<!DOCTYPE html>
<html>
<head>
  <title>Pr1907FoodAndDrink</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application",
    "data-turbolinks-track": "reload" %>
</head>
<body>
<<<<<<< HEAD
  <%= yield %>
=======
  <%= render "layouts/header" %>
  <div class="container">
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
>>>>>>> H&F
</body>
</html>
